/* Hero Section Styling */

.heroSection {
  margin: 0;
  padding: 100px 120px;
  box-sizing: border-box;
  background: #001d37;
  padding-bottom: 80px;
}

.heading {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.para {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 10px 0px;
}

.btn {
  text-decoration: none;
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.arrowIcon {
  margin-left: 10px;
}
.btnDiv {
  margin-top: 30px;
}

/* Media Queries for Hero Section */

@media screen and (max-width: 1200px) {
  .heroSection {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 900px) {
  .para {
    margin: 30px 0px;
    font-size: 24px;
  }
  .btn {
    font-size: 20px;
  }
  .heading {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 786px) {
  .heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 737px) {
  .heading {
    line-height: 50px;
  }
  .heroSection {
    padding: 100px 80px;
  }
}

/* Hero Section2 Styling */
