.hero3Section {
  background-color: #001d37;
  color: white;
  margin-top: 100px;
  padding: 50px;
}

.listDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  line-height: 25px;
}
.heading {
  text-align: center;
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */

  letter-spacing: -0.02em;

  /* material-theme/white */

  color: #ffffff;
}

.para {
  width: 45vw;
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.78);
  margin: 20px 350px;
}

.leftList {
  width: 28vw;
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  /* material-theme/ref/secondary/secondary99 */

  color: #fcfcff;
  margin-left: 180px;
}
.leftItem {
  margin-top: 16px;
}

.rightItem {
  margin-top: 16px;
}

.rightList {
  width: 23vw;
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fcfcff;
  margin-right: 300px;
}

.btn {
  text-decoration: none;
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.arrowIcon {
  margin-left: 10px;
}
.btnDiv {
  margin-top: 30px;
  text-align: center;
}
