.section {
  padding: 50px;
  overflow-x: hidden;
}

.innerSection {
  /* width: 98vw; */
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
.heading {
  display: block;
  text-align: center;
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 44px;

  letter-spacing: -0.02em;

  color: #101828;
}
.card {
  width: 24vw;
  text-align: center;
  padding-top: 10px;
}

.item_heading {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;

  color: #101828;
  padding-top: 10px;
}

.item_info {
  /* Text md/regular */

  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #475467;
}

.stars {
  position: relative;
  /* background-color: black; */
  left: -100px;
  bottom: 16px;
}

.Rectangle {
  position: relative;
  left: -60px;
}
.imgDiv {
  padding-left: 70px;
}

@media screen and (max-width: 900px) {
  .innerSection {
    display: block;
  }
  .card {
    display: block;
    margin: 0px auto;
    width: 70vw;
    padding-bottom: 20px;
  }
  .imgDiv {
    padding-left: 75px;
  }
  .stars {
    position: relative;
    /* background-color: black; */
    left: -100px;
    bottom: 16px;
  }

  .Rectangle {
    position: relative;
    left: -60px;
  }
}
