.section {
  padding: 50px;
  background: #f8f8f8;
}
.heading {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: center;
}
.para {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(9, 8, 8, 0.78);
  text-align: center;
  width: 50vw;
  margin: 0px auto;
}

.heading2 {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #101828;
  letter-spacing: -0.02em;
}
.innerSection {
  display: flex;
  padding: 80px;
  padding-bottom: 40px;
  gap: 50px;
}
.list {
  width: 34vw;
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  padding-top: 20px;

  color: #475467;
}
.leftSection {
  flex: 2;
}
.rightSection {
  flex: 1;
}

@media screen and (max-width: 1280px) {
  .innerSection {
    padding: 40px;
    padding-bottom: 40px;
  }
  .img {
    width: 40vw;
    margin-top: 30px;
  }
  .heading2 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 900px) {
  .innerSection {
    padding: 40px;
    padding-bottom: 40px;
    display: block;
  }
  .heading2 {
    text-align: center;
    line-height: 40px;
  }
  .list {
    width: 80vw;
    margin: 0px auto;
  }
  .heading {
    margin-bottom: 20px;
  }
  .listItem {
    padding: 10px;
  }
  .img {
    display: block;
    width: 40vw;
    margin: 0px auto;
    margin-top: 20px;
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .list {
    width: 60vw;
  }
  .heading {
    margin-bottom: 20px;
  }
  .heading2 {
    line-height: 40px;
  }
}
