.section {
  display: flex;
  gap: 80px;
  padding: 50px;
  background: #f8f8f8;
}

.heading {
  /* Display lg/semibold */

  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */

  letter-spacing: -0.02em;

  color: #101828;
}
.listItem {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* or 135% */

  color: #475467;
}
.rightSection {
  width: 32vw;
}

.list {
  padding-top: 40px;
}

@media screen and (max-width: 1280px) {
  .img {
    width: 40vw;
    margin-top: 30px;
  }
  .heading {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column;
  }
  .leftSection {
    order: 2;
  }
  .rightSection {
    order: 1;
    width: 80vw;
  }
  .rightSection .heading {
    text-align: center;
  }
  .rightSection .list {
    list-style: none;
    text-align: center;
  }
  .img {
    display: block;
    margin: 0px auto;
  }
}
