.hero2Section {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
}

.leftSection {
  padding-top: 70px;
  width: 490px;
}

.heading {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */

  letter-spacing: -0.02em;

  color: #000000;
  margin-bottom: 30px;
}

.para {
  /* Display xs/regular */

  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 30px;
}

.stats {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  color: #000000;
}

@media screen and (max-width: 1200px) {
  .hero2Section {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 990px) {
  .hero2Section {
    display: block;
    padding: 50px 100px;
  }
  .leftSection {
    width: 80vw;
  }
  .rightSection {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 840px) {
  .leftSection {
    padding-right: 30px;
  }
}

@media screen and (max-width: 770px) {
  .leftSection {
    padding-right: 50px;
  }
}
