.section {
  display: flex;
  padding: 50px;
  background: #f8f8f8;
  gap: 5rem;
}
.heading {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #101828;
}

.list {
  width: 35vw;
  padding-top: 30px;
  padding-left: 16px;
}

.leftSection {
  padding-left: 50px;
}
.rightSection {
  padding-left: 200px;
}

.imgDiv1 {
  padding-bottom: 10px;
}
.imgDiv2 {
  padding-top: 10px;
}

.listItem {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* or 135% */

  color: #475467;
}

.btn {
  text-decoration: none;
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #001d37;
}
.arrowIcon {
  margin-left: 10px;
}
.btnDiv {
  margin-top: 30px;
}

.Symbol {
  position: absolute;
  z-index: 10;
}

.imgDiv2 {
  padding-left: 10px;
}
.Symbol2 {
  position: relative;
  top: 6.41px;
  left: 0px;
}

@media screen and (max-width: 1200px) {
  .rightSection {
    padding-left: 90px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    display: block;
  }
  .heading {
    text-align: center;
    font-size: 40px;
  }
  .list {
    width: 80vw;
  }
  .listItem {
    padding: 10px;
  }
  .btnDiv {
    display: block;
    text-align: center;
    /* padding: 10px 0pxpx; */
  }
  .rightSection {
    display: block;
    text-align: center;
    padding: 0;
    padding-top: 30px;
  }
  .imgDiv2 {
    padding-left: 10px;
  }
  .leftSection {
    padding: 0;
  }
}
