.section {
  background: linear-gradient(
      0deg,
      rgba(8, 97, 164, 0.05),
      rgba(8, 97, 164, 0.05)
    ),
    #fcfcff;

  display: flex;
  justify-content: space-between;
  padding: 120px 55px;
}

.heading {
  /* Display md/semibold */

  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* or 122% */

  letter-spacing: -0.02em;

  /* Onboarding background grey */

  color: #2d2d2d;
}
.rightSection {
  width: 42vw;
}
.list {
  /* Text xl/regular */

  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  /* material-theme/ref/tertiary/tertiary40 */

  color: #315da8;
  margin-top: 20px;
  margin-left: 40px;
}

@media screen and (max-width: 1250px) {
  .section {
    padding: 120px 20px;
  }
  .img {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .img {
    width: 40vw;
  }
  .heading {
    font-size: 30px;
  }
  .list {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 900px) {
  .section {
    display: block;
  }
  .img {
    display: block;
    margin: 0px auto;
  }
  .rightSection {
    width: 100vw;
    margin-top: 50px;
    padding: 0px 120px;
  }
  .list {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-right: 100px;
  }
  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    width: 53vw;
  }
  .list {
    column-gap: 80px;
    margin-right: 20px;
    /* margin-top: 10px; */
  }
}
